*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #D3D8DA;
}
a{
    text-decoration: none;
    color: #009B9B ;
}
.container{
    width: 80%;
    max-width: 400px;
    height: auto;
    display: flex;
    background: #FFFFFF;
    margin: 30px auto;
}
.cv{
    display: flex;
    height: auto;
    width: 100%;
}
.right-section{
    width: 60%;
    height: auto;
    background: #FFFFFF;
}
.left-section{
    width: 40%;
    height: auto;
    background: #232633;
}
.intro-overlay{
    position: absolute;
    width: 75%;
    max-width: 375px;
    height: auto;
    top: 60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #009B9B ;
    display: flex;
    justify-content: space-between;
}
.intro-overlay img{
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.intro-overlay h1{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232633;
    margin-top: 10px;
}
.intro-overlay h5{
    color: #FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.intro-text{
    padding: 8px 10px 0px 30px;
    
}

.first-right-section-header h5{
     padding-left: 8px;
     color: #009B9B;
     font-weight: 900;
     margin-top: 10px;
}
.third-right-section-header h5{
     color: #009B9B;
     font-weight: 900;
     padding-left: 8px;
}
.third-right-section-header{
    display: flex;
} 
.first-right-section-header{
    display: flex;
    padding-top: 120px;
}
.line{
    background-color: #009B9B ;
    height: 2px;
    width: 80px;
    margin-top: 16px;
    margin-left: 8px;
}
.line2{
    background-color: #009B9B ;
    height: 2px;
    width: 100px;
    margin-top: 6px;
    margin-left: 10px;
}
.role{
    font-size: 10px;
    color: #232633;
    margin-left: 11px;
    margin-top: 5px;
    font-weight: 900;
}
.companys{
    display: flex;
    margin-left: 10px;
    margin-top: 4px;
}
.company-name{
    color: #A7AAB5;
}
.company-name{
    display: inline;
    border-right: 2px solid #D3D8DA;
    height: 12px;
    padding-right: 5px;
}
.date{
    font-size: 12px;
    margin-left: 5px;
    color: #232633;
}
.description{
    font-size: 12px;
    color: #606060;
    margin-left: 10px;
    margin-top: 4px;
}
.list{
    font-size: 10px;
    margin-left: 35px;
    margin-top: 5px;
    color: #424242;
    margin-bottom: 20px;
}
.references{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}
.first-reference p, .second-reference p{
    font-size: 10px;
}
.first-reference h6, .second-reference h6{
    font-size: 7px;
    margin-bottom: 5px;
}
.first-reference h5, .second-reference h5{
    font-size: 10px;
}

/* lEFT SECTION */
.left-container{
    margin-top: 120px;
}
.profile-container{
    display: flex;
}
.profile{
    color: #D3D8DA;
    margin-left: 14px;
    margin-top: 10px;
}
.line3{
    background-color: #D3D8DA;
    height: 1px;
    width: 50px;
    margin-top: 16px;
    margin-left: 10px;
}
.description2{
    font-size: 12px;
    color: #D3D8DA;
    margin-left: 15px;
    margin-top: 4px;
}

.left-overlay{
    display: none
}
.large{
    color: #009B9B ;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 /* @media (max-width: 360px){
  .left-overlay{
    position: absolute;
    width: 26.5%;
    height: auto;
    right: 80px;
    bottom: 310px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #009B9B ;
    display: flex;
    justify-content: space-between;
    color: #fafeff;
    padding-left: 25px;
    font-size: 10px;
    padding-top: 2.5px;
}
.description2{
    margin-top: 23px;
}
.large{
    display: none;
}
.level{
    margin-top: 15px;
}
} */
.second-overlay{
    display: none;
}
.large2{
    color: #009B9B ;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* @media (max-width: 360px) {
  .second-overlay{
    position: absolute;
    width: 26.5%;
    height: auto;
    right: 80px;
    bottom: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #009B9B ;
    display: flex;
    justify-content: space-between;
    color: #fafeff;
    padding-left: 25px;
    font-size: 10px;
    padding-top: 2.5px;
}
.large2{
    display: none;
}
.lang-lists{
    margin-top: 40px;
}
} */
.third-overlay{
    display: none;
}
/* @media (max-width: 360px) {
  .third-overlay{
    position: absolute;
    width: 26.5%;
    height: auto;
    right: 80px;
    bottom: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #009B9B ;
    display: flex;
    justify-content: space-between;
    color: #fafeff;
    padding-left: 25px;
    font-size: 10px;
    padding-top: 2.5px;
}
.contact-lists{
    margin-top: 35px;
}
.large3{
    display: none;
}
} */
.large3{
    color: #009B9B ;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.level{
    color: #D3D8DA;
    margin-left: 15px;
}
.stars {
  color: #009B9B ;
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 5px;
}
.skills-lists{
    font-size: 12px;
    color: #D3D8DA;
    margin-left: 25px;
    margin-top: 5px;
}

.lang-lists{
    font-size: 12px;
    color: #D3D8DA;
    margin-left: 25px;
}
.lang-lists li{
    margin-bottom: 3px;
}

.contact-lists{
    font-size: 11px;
    color: #D3D8DA;
    margin-left: 12PX;
}
.contact-lists p{
    margin-bottom: 5px;
}
i{
    margin-right: 10px;
}
.email{
    font-size: 10px;
}
@media (max-width: 360) {
    
}